.textarea {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.textarea textarea{
    color: rgba(79, 79, 79, 1.0);
    border-radius: 10px;
    width: 350px;
    height: 43px;
    border: 1px solid rgba(79, 79, 79, 1.0);
    padding-top: 5px;
    padding-left: 5px;
}

textarea::-webkit-input-placeholder {
    color: #838791;
    background-color:#fff;
  }
  .textarea button {
    display: inline-block;
    border-radius: 10px;
    border: 1px solid rgba(79, 79, 79, 1.0);
    text-align: center;
    margin-left: 25px;
    margin-top: 4px;
    height: 40px;
    width: 70px;
    color: rgba(79, 79, 79, 1.0);
  }
  .textarea button:hover {
    background-color: rgba(238, 210, 238, 1.0);
    border: 2px solid #fff;
  }
  .error {
    color: red;
    font-size: 14px;
    text-align: center;
  }