.menu_button {
    width: 27px;
    height: 27px;
    cursor: pointer;
}
.menu_button img {
    border-radius: 7px;
}
.menu {
    height: 80px;
    width: 100px;
    transform: translateY(1%);
    border-radius: 7px;
}
.menu_active {
    transform: translateY(0);
    display: none;
}
.menu_content button {
    color: rgba(79, 79, 79, 1.0);
    text-decoration: none;
    font-size: 14px;
    border-radius: 7px;
    border: 1px solid rgba(79, 79, 79, 0.8);
    width: 110px;
}
.menu_content button:hover {
    background-color: rgba(238, 210, 238, 1.0);
    border: 1px solid #fff;
}
.close_button{
    color: rgba(79, 79, 79, 1.0);
    max-width: 23px;
    max-height: 23px;
    text-align: center;
    font-size: 18px;
    margin-left: 80px;
 }